<h1>New <%= singular_name %></h1>

<%% form_for(@<%= singular_name %>) do |form| %>
  <%%= render :partial => 'form', :locals => {:form => form} -%>
  <div><%%= form.submit 'Create' -%></div>
<%% end %>

<p><%%= link_to 'Back', :back -%></p>
